div {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
}

.padrao {
  background: radial-gradient(red 50%, darkred, black);
}

.formato-1{
  /* closest-side: trabalha com o tamanho interno da caixa */
  background: radial-gradient(closest-side, red 50%, darkred, black);
}

.formato-2{
  /* circle: divide o inicio do circulo radial sobre o % da largura */
  background: radial-gradient(circle at 110%, red 50%, darkred, black);
}

.formato-3{
  /* ellipse: direciona a elipse do radial conforme a orientação */
  background: radial-gradient(ellipse at top, red 50%, darkred, black);
}

.linear-repetido {
  background: repeating-linear-gradient(to top right, red, red 2px, white 5px, white 10px);
}

.radial-repetido {
  background: repeating-radial-gradient(circle at 50%, white, white 10px, red 10px, red 20px);
}




