body {
  background: #002244;
}

.container {
  border: 3px solid white;
  /* width: 640px; */
  height: 480px;

  display: flex;
  flex-wrap: wrap;
  /* alinha os items (filhos) entre seus eixos */
  align-items: flex-end;
  /* alinha TODO o conteudo no eixo Y do container pai */
  /* align-content: flex-start; */

  justify-content: space-between;
  padding: 10px;
}

.filho {
  color: white;
  border: 2px solid yellow;
  width: 100px;
  height: 100px;
}

.outro {
  align-self: flex-start;
}

.maior {
  height: 170px;
}
