body {
  background: #002244;
}

.container {
  border: 3px solid white;
  width: 640px;
  height: 480px;

  display: flex;
}

.filho {
  color: white;
  border: 2px solid yellow;
  width: 100px;
  height: 100px;

  /* habilita/desabilita o encolhimento automatico do elemento */
  /* existem dois valores: 1 || 0 (ligado - padrão ou desligado) */
  flex-shrink: 1;
}

.encolhe-mais {
  /* acima de 1 força o elemento a encolher proporcionalmente */
  /* em relação aos irmaos e ao tamanho do pai */
  flex-shrink: 6;
  background: url(../../../aula06/exercicio-led-zeppelin/img/capa-disco.png) no-repeat;
  background-size: 100% 100%;
}




