body {
  background: #002244;
}

.container {
  border: 3px solid white;
  width: 640px;
  height: 480px;

  display: flex;
  /* justifica o conteudo: ou seja, é uma prop. do PAI! */
  /* justify-content: center; */
  justify-content: space-evenly;
  /* alinha os itens (filhos) - na vertical */
  /* pode forçar os filhos a se esticarem (stretch) desde que eles nao */
  /* possuam uma altura definida (height) */
  align-items: center;
}

.filho {
  border: 2px solid yellow;
  width: 100px;
  height: 100px;

  font-size: 40px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

} 

.alto {
  height: 240px;
}







